/* This file is for your main application css. */
// @import "./phoenix.css";

* {
  box-sizing: border-box;
}

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}

body, html {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.day {
  border-left: 1px solid gray;
  border-right: 1px;
  margin: 0 1em 0 1em;

  & .notes-container {
    display: flex;
    width: 100%;

    & .notes {
      width: 70%;
      margin-left: 1em;
      position: relative;

      & textarea {
        resize: none;
        border: 1px solid gray;
        // border: 0;
        // border-left: 1px solid gray;
        // border-right: 1px solid gray;
        overflow: hidden;
        border-radius: 0;
        height: 400px;
        width: 100%;
      }

      & .text-placeholder {
        display: none;
        white-space: pre-wrap;
        word-wrap: break-word;
      }

      & .submit-button {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 0;
        padding: 0.5em;
        // transform: translate(0, 0);
      }
    }

    & .commits {
      width: 30%;
      margin: 0 1em 0 1em;
      background-color: rgba(193, 193, 193, 0.8);
    }
  }
}

.day-header {
  display: flex;
  width: 100%;
  padding: 1em 0 1em;
  & .date {
    margin: 0 0 0 2em;
    width: 35%;
  }

  & .date-day {
    width: 35%;
  }

  & .commits-header {
    width: 30%;
    text-align: left;
  }

}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-weight: 700;
  font-size: 2em;
  background-color: rgba(193, 193, 193, 0.8);
  z-index: 1;
  & .date-descriptor {
    margin-left: 1em;
  }
  & .iso-date {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
  }
  & .user {
    margin-right: 1em;
  }
}

// .notes-main {
//   & .notes-main-header {
//     display: flex;
//     justify-content: space-between;
//     width: 100%;

//   }

//   & textarea {
//     resize: none;
//   }

//   & .commit-button, .edit-button {
//     display: block;
//     margin-left: auto;
//   }

//   & .commit-button {
//     background-color: orange;
//   }

//   & .notes-text-commits-container {
//     display: flex;
//   }
// }

// .notes-text-container {
//   width: 70%;
// }

// .commits-container {
//   width: 30%;
//   text-align: center;
//   max-height: 400px;
//   overflow-y: auto;
// }

// .topic-entry {
//   white-space: pre-wrap;
//   border: none;
//   box-sizing: border-box;
//   padding: 5px;
// }
