/* This file is for your main application css. */
@import "./phoenix.css";

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}

body, html {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.hide {
  display: none;
}


.day {
  border: 1px solid gray;
  border-radius: 2px;
  margin: 2em 1em 2em;
}

.day-header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-weight: 700;
  font-size: 2em;
  background-color: rgba(193, 193, 193, 0.8);
  & .date-descriptor {
    margin-left: 1em;
  }
  & .iso-date {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
  }
  & .user {
    margin-right: 1em;
  }
}

.notes-main {
  & .notes-main-header {
    display: flex;
    justify-content: space-between;
    width: 100%;

  }

  & textarea {
    resize: none;
  }

  & .commit-button, .edit-button {
    display: block;
    margin-left: auto;
  }

  & .commit-button {
    background-color: orange;
  }

  & .notes-text-commits-container {
    display: flex;
  }
}

.notes-text-container {
  width: 70%;
}

.commits-container {
  width: 30%;
  text-align: center;
  max-height: 400px;
  overflow-y: auto;
}

.topic-entry {
  white-space: pre-wrap;
  border: none;
  box-sizing: border-box;
  padding: 5px;
}

.notes-textarea {
  height: 400px;
}