  <div class="day-header">
    <div class="date-descriptor">
      <%= display_date(@current_date) %>
    </div>
    <div class="iso-date">
      <%= @current_date %>
    </div>
    <div class="user">
      <%= @user.login %>
    </div>
  </div>
