<%= render GitNotesWeb.NotesView, "day_header.html", assigns %>

<div id="day-notes" phx-hook="DayLoader">
  <%= for date <- @date_range do %>
    <%= live_component @socket, GitNotesWeb.DayComponent,
    date: date, id: date, user: @user, topics: @topics %>
  <% end %>
</div>
